@import "reset.css";
@import "fonte.css";
@import "login.css";
@import "register.css";
@import "sidebar.css";
@import "header.css";
@import "main.css";
@import "footer.css";
@import "graph.css";
@import "dashboardPerfil.css";
@import "dashboardFaleConosco.css";

