.flex-dashboard header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color: white;
    padding: 0 30px;
    border: 1px solid rgb(190, 189, 189); 
    background: linear-gradient(135deg, rgb(253, 253, 253), rgb(183, 233, 117));
    border-left: 0px;
    border-top: 0px;
}

.flex-dashboard header a {
    text-decoration: none;
    color: gray;
}

.flex-dashboard header a > i {
    color: black;
}

