.login {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.login-form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.banner-login {
    width: 75%;
    height: 100%;
    background: linear-gradient(135deg, rgb(253, 253, 253), rgb(183, 233, 117));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

.banner-login img {
    position: relative;
    bottom: 40px;
    width: 350px;
    height: 350px;
}

.banner-login h2 {
    position: relative;
    bottom: 40px;
}

.login-form-wrapper {
    width: 205px;
    max-width: 250px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login-form-wrapper button {
    width: 163px;
    background: linear-gradient(135deg, rgb(253, 253, 253), rgb(183, 233, 117));
    border: 1px solid rgb(255, 255, 255);
    color: rgb(8, 7, 7);
    margin-top: 10px;
    padding: 3px;
}

.login-form-wrapper button:hover {
    border: none;
    color: rgb(255, 255, 255);
    transform: scale(1.10);
    transition: .2s;
}

.login-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
}

@media screen and (max-width:1280px) {
    .banner-login {
        width: 50%;
        padding: 0 2%;
    }
    .banner-login img {
        max-width: 400px;
    }
}

@media screen and (max-width: 991px) {
    .banner-login {
        display: none;
    }
    .login-form {
        width: 100%;
    }
}